.page-wrapper {
    margin-top: 200px;
    overflow-x: hidden;
}

.page-wrapper .header-info{
    display: flex;
    flex-direction: column;
    font-size: 1.95rem;
    font-weight: 500;
    justify-content: center;
}

.page-wrapper .custom-btn{
    margin-top: 2rem;
    font-size: 1.25rem;
    width: max-content;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    background-image: linear-gradient(to right, #684EED , #B864FF, #684EED , #B864FF);
    background-position: left;
    background-size: 400%;
    transition: background-position 3s;
    cursor: pointer;
    color: #fff;
}

.page-wrapper .custom-btn:hover{
background-position: right;
}

.page-wrapper .custom-btn a{
    margin: 30px;
    color: #fff;
    text-decoration: none;
}

.page-wrapper .rings{
    position: absolute;
    visibility: hidden;
}

.page-wrapper .image{
    padding: 1rem 0;
    z-index: 2;
}

.page-wrapper .floating-image img:nth-child(1){
    position: absolute;
    top: -200px;
    right: -61px;
    z-index: 4;
    transition: 0.5s;
}

.page-wrapper .floating-image img:nth-child(2){
    position: absolute;
    right: -400px;
    top: -125px;
    z-index: 3;
    transition: 0.5s;
}

.page-wrapper .floating-image img:nth-child(3){
    transition: 0.5s;
    position: absolute;
    top: 70px;
    right: -20px;
    z-index: 4;
}

.page-wrapper .floating-image img:nth-child(4){
    position: absolute;
    right: -390px;
    top: 130px;
    z-index: 4;
    transition: 0.5s;
}

.page-wrapper .floating-image img:nth-child(4):hover, 
.page-wrapper .floating-image img:nth-child(3):hover, 
.page-wrapper .floating-image img:nth-child(2):hover, 
.page-wrapper .floating-image img:nth-child(1):hover{
    transform: scale(1.1);
    transition: 0.5;
}

.page-wrapper .iphone{
    height: 450px;
    z-index: 3;
}

.page-wrapper .iphone-bg{
    position: absolute;
    width: 250px;
    bottom: 110px;
    right: 10px;
    z-index: -2;
}

.page-wrapper .values-wrapper{
    margin: 0 5rem;
    padding: 2rem 2rem 0;
}

.page-wrapper .values-wrapper .header{
    font-size: 2rem;
}

.page-wrapper .values-info{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.page-wrapper .values-info>span{
    display: flex;
    flex-direction: column;
    width: 250px;
    transition: 0.5s;
}

.page-wrapper .values-info>span:hover{
    transform: scale(1.05);
}

.page-wrapper .info-header{
    font-size: 1.5rem;
    margin: 1rem 0;
    font-weight: 500;
}

.page-wrapper .blank-space{
    margin-bottom: 3rem;
    height: 200px;
}

.page-wrapper .invest>img{
    position: absolute;
    left: -100px;
}

.page-wrapper .iphone2{
    height: 550px;
    /* margin-left: 2rem; */
}

.page-wrapper .invest-image{
    margin-top: 2rem;
}

.page-wrapper .invest-image div{
    width: min-content;
}

.page-wrapper .invest-content{
    margin: 4rem 0;
}

.page-wrapper .invest-content>span{
    font-size: 2rem;
}

.page-wrapper .invest-content .col-lg-6 div{
    margin: 3rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E3E9FF;
    border-radius: 20px;
    padding: 10px 20px 20px;
    min-height: 250px;
    height: min-content;
    transition: 0.5s;
}

.page-wrapper .invest-content .col-lg-6{
    transition: 0.3s;
}
.page-wrapper .invest-content .col-lg-6:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.page-wrapper .invest-content .col-lg-6 img{
    margin: 2rem auto;
}

.page-wrapper .invest-content a{
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 15px 30px;
    font-size: 1.25rem;
    background-image: linear-gradient(to right, #684EED , #B864FF, #684EED, #B864FF);
    background-size: 400%;
    transition: background-position 5s;
    color: #fff;
}

.page-wrapper .invest-content a:hover{
    background-position: right;
    text-decoration: none;
}

.page-wrapper .compounding-header{
    font-size: 2rem;
    margin-bottom: 3rem;
}

.page-wrapper .compounding-inner div{
    display: flex;
    flex-direction: column;
}

.page-wrapper .name-line{
    margin-left: 1.55rem;
    margin-top: 0.8rem;
    position: absolute;
    z-index: -1;
    height: 310px;
    width: 10px;
    border-radius: 10px;
    background-image: linear-gradient( #684EED , #B864FF);
}

.page-wrapper .line2{
    position: absolute;
    left: -100px;
    width: 700px;
    z-index: -1;
}

.page-wrapper .compounding .col-lg-4 div{
    width: min-content;
}

.page-wrapper .compounding .iphone3{
    width: 350px;
}

.compounding-inner div>span{
    transition: 0.5s;
    width: max-content;
}

.page-wrapper .compounding-inner div>span:hover{
    transform: scale(1.1) translateX(10px);
    transition: 0.5s;
}

.page-wrapper .yaro-coin{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.page-wrapper .yaro-coin-img{
    margin: 2rem auto;
    height: 200px;
    transition: 0.5s;
}

.page-wrapper .yaro-coin-img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.page-wrapper .yaro-coin span:nth-child(1){
    font-size: 2rem;
    line-height: 2;
}

.page-wrapper .yaro-coin button{
    border: none;
    outline: none;
    width: max-content;
    margin: 2rem auto;
    font-size: 1.25rem;
    color: #000;
    background-image: linear-gradient(45deg, #FFE37F, #F3AB1C, #FFE37F, #F3AB1C);
    background-position: left;
    background-size: 400%;
    padding: 10px 20px;
    border-radius: 25px;
    transition: background-position 2s;
    cursor: pointer;
}

.page-wrapper .yaro-coin button:hover{
    background-position: right;
}

.page-wrapper .yaro-coin button a{
    color: #fff;
    text-decoration: none;
}

.page-wrapper .yaro-card{
    margin-top: 2rem;
}

.page-wrapper .yaro-card .row{
    padding: 3rem;
}

.page-wrapper .yaro-card span:nth-child(1){
    font-size: 2rem;
    margin-bottom: 2rem;
}

.page-wrapper .yaro-card span:nth-child(2),
.page-wrapper .yaro-card span:nth-child(3),
.page-wrapper .yaro-card span:nth-child(4),
.page-wrapper .yaro-card span:nth-child(5){
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.page-wrapper .yaro-card .col-lg-7{
    display: flex;
    flex-direction: column;
}

.page-wrapper .yaro-card .col-lg-7>span{
    display: flex;
    align-items: flex-start;
}

.page-wrapper .yaro-card .col-lg-7>div{
    margin-bottom: 2rem;
}

.page-wrapper .yaro-card .col-lg-4 div{
    width: min-content;
}

.page-wrapper .yaro-card .col-lg-4 img{
    height: 500px;
}

#myModal .modal-content{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

#myModal .modal-content span:nth-child(1){
    font-weight: 500;
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #B864FF;
}

#myModal .modal-content span:nth-child(2){
    font-weight: 500;
    margin: 2rem 0;
}

#myModal .modal-content button{
    width: fit-content;
    padding: 10px 20px;
    margin: auto;
    background-color: #684EED;
    color: #fff;
    border-radius: 25px;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@media only screen and (max-width: 1094px){
    .page-wrapper .header-wrapper{
        justify-content: center!important;
    }

    .page-wrapper .iphone3{
        width: 300px!important;
    }
}

@media only screen and (max-width: 992px){

    .page-wrapper .header-wrapper{
        justify-content: center!important;
    }
    .page-wrapper .header-wrapper .header-info{
        font-size: 1.25rem;
    }

    .page-wrapper .custom-btn{
        font-size: 1rem;
        padding: 0;
        height: 40px;
    }

    .page-wrapper .custom-btn a{
        margin: 0 10px;
    }

    .page-wrapper .iphone{
        height: 300px;
        margin: auto;
    }

    .page-wrapper .iphone-bg{
        width: 150px;
        right: 100px;
    }

    .page-wrapper .floating-image img:nth-child(1){
        height: 100px;
        top:-170px
    }

    .page-wrapper .floating-image img:nth-child(2){
        height:50px;
        right: -270px;
        top: -80px;
    }

    .page-wrapper .floating-image img:nth-child(3){
        height: 90px;
        right: -50px;
    }

    .page-wrapper .floating-image img:nth-child(4){
        height: 80px;
        top:80px;
        right: -300px;
    }

    .page-wrapper .values-wrapper{
        text-align: center;
        margin: 0;
    }

    .page-wrapper .values-info{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .page-wrapper .values-info img{
        margin: 2rem auto 0;
    }

    .page-wrapper .invest-image{
        display: flex;
        justify-content: center;
    }

    .page-wrapper .invest-content{
        text-align: center;
    }

    .page-wrapper .invest-content .row{
        justify-content: center;
    }

    .page-wrapper .compounding{
        justify-content: center!important;
        align-items: center;
    }

    .page-wrapper .line2{
        right:-10px;
        width: 530px;
    }

    .page-wrapper .iphone3{
        width: 200px;
    }
    
    .page-wrapper .compounding .col-lg-4>img{
        right: -100px;
    }

    .page-wrapper .compounding-header{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 769px){

    .page-wrapper .page-wrapper{
        margin-top: 100px;
    }
    .page-wrapper .header-info span{
        font-size: 1.25rem;
        text-align: center;
    }

    .page-wrapper .header-wrapper .col-lg-4:nth-child(2){
        justify-content: center!important;
    }

    .page-wrapper .custom-btn{
        margin: 2rem auto;
    }
    
    .page-wrapper .floating-image{
        visibility: hidden;
        position: absolute;
    }

    .page-wrapper .iphone{
        margin: 3rem auto;
    }

    .page-wrapper .iphone-bg{
        visibility: hidden;
    }

    .page-wrapper .invest .col-6:nth-child(1) div{
        margin-left: 2rem;
    }

    .page-wrapper .invest .col-6:nth-child(2) div{
        margin-right: 2rem;
    }

    .page-wrapper  .compounding{
        flex-direction: column-reverse;
    }

    .page-wrapper  .ellipse{
        visibility: hidden;
        position: absolute;
    }

    .page-wrapper   .rings{
        visibility: visible;
        width: 400px;
        z-index: -1;
        animation: breathing 5s infinite alternate ease-in;
    }

    .page-wrapper   .compounding .col-lg-4{
        display: flex;
        justify-content: center;
    }

    .page-wrapper   .iphone3{
        width: 280px!important;
        margin-bottom: 3rem;
    }

    .page-wrapper   .compounding .col-lg-6{
        text-align: center;
    }

    .page-wrapper   .compounding-inner{
        margin-top: 2rem;
        padding-left: 3rem;
    }

    .page-wrapper  .yaro-coin-img{
        width: 70%;
    }

    .page-wrapper   .yaro-card .col-lg-4 img{
        margin-top: 1rem;
        height: 400px;
    }

    .page-wrapper    .line2{
        left: 60px;
    }
}

@keyframes breathing {
    0% {width: 400px;}
    100% {width: 470px;}
}